Plugins>ImageJ on GPU (CLIJ2), "Start CLIJ2-Assistant (experimental)", net.haesleinhuepf.clij2.assistant.AssistantGUIStartingPoint("")
Plugins>ImageJ on GPU (CLIJ2), "Save Image Data Flow (experimental)",  net.haesleinhuepf.clij2.assistant.io.SaveAssistantWorkflowPlugin
Plugins>ImageJ on GPU (CLIJ2), "Load Image Data Flow (experimental)",  net.haesleinhuepf.clij2.assistant.io.LoadAssistantWorkflowPlugin

File>Save As, "CLIJ2 Image Data Flow (save, experimental)",  net.haesleinhuepf.clij2.assistant.io.SaveAssistantWorkflowPlugin
File>Import, "CLIJ2 Image Data Flow (load, experimental)",  net.haesleinhuepf.clij2.assistant.io.LoadAssistantWorkflowPlugin


Plugins>ImageJ on GPU (CLIJ2)>Options, "Add custom suggestions from a folder of CLIJ2 Macros", net.haesleinhuepf.clij2.assistant.utilities.CustomSuggestions
Plugins>ImageJ on GPU (CLIJ2)>Options, "Build and run options", net.haesleinhuepf.clij2.assistant.options.AssistantOptionsDialog
Plugins>ImageJ on GPU (CLIJ2)>Interoperability, "Generate Icy Protocol (experimental)", net.haesleinhuepf.clij2.assistant.scriptgenerator.IcyProtocolGeneratorPlugin
Plugins>ImageJ on GPU (CLIJ2)>Interoperability, "Open raw sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualRawStackOpener
Plugins>ImageJ on GPU (CLIJ2)>Interoperability, "Open tif sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualTifStackOpener

Plugins>ImageJ on GPU (CLIJ2),                      "How to cite CLIJ2-Assistant",                              net.haesleinhuepf.clij.macro.documentation.OnlineDocumentationOpener("https://www.biorxiv.org/content/10.1101/2020.11.19.386565v1")

Plugins>ImageJ on GPU (CLIJ2),                          "GPU Memory Display (experimental)",                                          net.haesleinhuepf.clij2.gui.MemoryDisplay
Plugins>ImageJ on GPU (CLIJ2),                          "Change OpenCL device (experimental)",                                    net.haesleinhuepf.clij2.gui.ChangeOpenCLDevice

Plugins>ImageJ on GPU (CLIJ2), "CLIJ2-Assistant Version 2.5.0.0-BETA",                            null


